body {
	margin: 0;
	font-size: 15px;
}

#loader {
	position: absolute;
	height: 100%;
	width: 100%;
	padding-top: 30px;

	color: white;
	text-align: center;
	#load_status {
		font-family: fantasy;
		font-size: 30px;
	}
	#download_status {
		font-size: 15px;
	}
}

@import "controls";
