.full_size {
	position: absolute;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	font-size: 15px;
}

#welcome {
	.full_size();
	display: flex;
	justify-content: center;
	align-items: center;

	input {
		margin-top: -10%;
		font-size: 25px;
		text-align: center;
		width: 80%;
		padding: 10px;
	}
}

#loader {
	.full_size();
	display: flex;
	justify-content: center;
	align-items: center;
	> div {
		margin-top: -10%;
	}
	color: white;
	text-align: center;
	#load_status {
		font-family: fantasy;
		font-size: 30px;
	}
	.download_status {
		font-size: 15px;
	}
}

#help_link{
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	text-align: center;
	a {
		color: #bfbfbf;
	}
}

@keyframes background_colors_animate {
    0% {
        background-color: #1ABC9C;
    }
    17% {
        background-color: #D35400;
    }
    33% {
        background-color: #2C3E50;
    }
    50% {
        background-color: #2980B9;
    }
    66% {
        background-color: #7F8C8D;
    }
    83% {
        background-color: #FFCB65;
    }
}

@keyframes background_img {
	0% {
		background-size: 100%;
	}
	50% {
		background-size: 150%;
	}
	100% {
		background-size: 100%;
	}
}

#background {
	.full_size();
	background-color: #1ABC9C;
	animation-name: background_colors_animate;
	animation-duration: 20s;
	animation-iteration-count: infinite;

	&:after{
		.full_size();
		content:'';
		background-color: rgba(0,0,0, 0.8);
	}
	table {
		.full_size();
		border-spacing: 0;
		tr {
			height: 50%;
		}
		td {
			background-position: left 0;
			height: 33.33333%;
			background-size: 100%;

			animation-name: background_img;
			animation-duration: 20s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
		td[pnum="0"], td[pnum="2"], td[pnum="4"] {
			background-position: right 0;
		}
	}
}

@import "controls";
