.full_size {
  position: absolute;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-size: 15px;
}
#welcome {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome input {
  margin-top: -10%;
  font-size: 25px;
  text-align: center;
  width: 80%;
  padding: 10px;
}
#loader {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
#loader > div {
  margin-top: -10%;
}
#loader #load_status {
  font-family: fantasy;
  font-size: 30px;
}
#loader .download_status {
  font-size: 15px;
}
#help_link {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}
#help_link a {
  color: #bfbfbf;
}
@keyframes background_colors_animate {
  0% {
    background-color: #1ABC9C;
  }
  17% {
    background-color: #D35400;
  }
  33% {
    background-color: #2C3E50;
  }
  50% {
    background-color: #2980B9;
  }
  66% {
    background-color: #7F8C8D;
  }
  83% {
    background-color: #FFCB65;
  }
}
@keyframes background_img {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 150%;
  }
  100% {
    background-size: 100%;
  }
}
#background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1ABC9C;
  animation-name: background_colors_animate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
#background:after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
}
#background table {
  position: absolute;
  height: 100%;
  width: 100%;
  border-spacing: 0;
}
#background table tr {
  height: 50%;
}
#background table td {
  background-position: left 0;
  height: 33.33333%;
  background-size: 100%;
  animation-name: background_img;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#background table td[pnum="0"],
#background table td[pnum="2"],
#background table td[pnum="4"] {
  background-position: right 0;
}
#controls,
#status {
  position: absolute;
  right: 5px;
  bottom: 40px;
  z-index: 2147483647;
}
@media screen and (min-width: 930px) {
  #controls {
    bottom: 5px;
  }
}
#status {
  bottom: auto;
  top: 5px;
  color: white;
  border-radius: 4px;
  background-color: #101010;
  padding: 5px;
  transition: opacity 1s ease-in-out;
}
#status a {
  color: #d7d7d7;
}
/*https://gist.github.com/afabbro/3759334*/
video::-webkit-media-controls-toggle-closed-captions-button {
  /*-webkit-appearance:none;*/
  display: none;
}
.button {
  color: white;
  display: inline-block;
  background-color: #101010;
  font-weight: 900;
  cursor: default;
  padding: 7px;
  border-radius: 5px;
  position: relative;
  opacity: 0.8;
}
.button .context_menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #101010;
  bottom: 100%;
  right: 0;
  border: 1px solid #555555;
  border-radius: 5px 5px 0 5px;
  font-weight: 300;
  white-space: nowrap;
}
.button .context_menu li {
  padding: 5px;
  cursor: pointer;
}
.button .context_menu li:hover,
.button .context_menu li.active {
  background-color: #434343;
}
.button .context_menu li + li {
  border-top: 1px solid #555555;
}
.button:hover .context_menu {
  display: block;
}
